html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

header {
  background-image: url("../img/bg.jpg");
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 56%;
  height: 0;
}

.main-width {
  border: 1px solid red;
  margin: 0 auto;
  width: 85%;
}

.logo {
  border: 1px solid red;
  margin: 0 auto;
  text-align: center;
}
.logo img {
  height: 50px;
  width: 200px;
}

.sentence {
  border: 1px solid red;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: white;
}

.flex-list {
  margin: 0;
  padding: 0;
  display: flex;
  height: 350px;
  list-style: none;
  align-items: center;
  border: 1px solid red;
  justify-content: space-between;
}
.flex-list li {
  flex: 1 1 auto;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
  background-image: url("../img/shape1.png");
  background-repeat: no-repeat;
  background-size: 95% auto;
  border: 1px solid red;
  background-position: center;
  width: 20%;
  text-align: center;
  align-self: flex-end;
}
.flex-list li img {
  width: 40%;
}
.flex-list .ikonUp {
  align-self: flex-start;
}

p {
  border: 1px solid red;
  text-align: center;
}
p img {
  height: 50px;
}

.menuBar {
  display: flex;
  border: 1px solid red;
  width: 85%;
  margin: 0 auto;
}
.menuBar .logo2 {
  border: 1px solid red;
  width: 50%;
  text-align: center;
}
.menuBar .mainMenu {
  border: 1px solid red;
  width: 50%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.menuBar .mainMenu a {
  text-decoration: none;
  color: gray;
  padding: 5px;
  font-size: 12px;
}

.graySection {
  background-color: lightgrey;
}

.flex-list2 {
  width: 85%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  height: 400px;
  list-style: none;
  border: 1px solid red;
  justify-content: space-between;
}
.flex-list2 li {
  flex: 1 1 auto;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
  background-repeat: no-repeat;
  width: 20%;
  text-align: center;
  align-self: center;
}
.flex-list2 li p {
  color: gray;
  padding: 5%;
}

svg {
  width: 55%;
  stroke: gray;
  stroke-linejoin: round;
  stroke-width: 2.5px;
  fill: #fff;
  fill-opacity: 0.1;
  fill-rule: evenodd;
  transition: 1s;
}

svg:hover {
  stroke: violet;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill-opacity: 0.1;
  fill: violet;
  fill-rule: evenodd;
}

.aboutUs {
  padding: 5%;
  border: solid red;
  text-align: center;
}
.aboutUs img {
  border: 1px solid red;
  margin: 0 auto;
  height: 50px;
  width: 150px;
}

.flexAboutUs {
  display: flex;
  width: 85%;
  margin: 0 auto;
  padding: 0;
  border: solid red;
}
.flexAboutUs .right-side {
  width: 50%;
  border: solid yellow;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flexAboutUs .right-side p {
  max-width: 200px;
  text-align: center;
}
.flexAboutUs .right-side button {
  max-width: 150px;
  -moz-box-shadow: inset 0px 1px 0px 0px #e184f3;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e184f3;
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd));
  background: -moz-linear-gradient(top, #c123de 5%, #a20dbd 100%);
  background: -webkit-linear-gradient(top, #c123de 5%, #a20dbd 100%);
  background: -o-linear-gradient(top, #c123de 5%, #a20dbd 100%);
  background: -ms-linear-gradient(top, #c123de 5%, #a20dbd 100%);
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd',GradientType=0);
  background-color: #c123de;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
}

/*# sourceMappingURL=style.css.map */
